<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 정보</title>
    <link rel="stylesheet" href="static\normal.css">
  </head>
  <body>
    <body id="all_center">
    
     <h1 class="h1" id="main">
     소엔코딩
     </h1>
    	
    <form action="/name" method="GET">
        <input class="input" id="input" type="text" placeholder ="부모님 핸드폰 뒤에 4자리 입력" name="student">
        <button class="search">검색</button>
    </form>
     
  </body>
</head>
</html>
