<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 정보</title>
    <link rel="stylesheet" href="static\name.css">
</head>
<body>
    <form action="/lesson" method="GET">
        <select name="name">
            <option value=''>이름선택</option>
            <option value = {{name1}}>{{name1}}</option>
            <option value = {{name2}}>{{name2}}</option>
            <option value = {{name3}}>{{name3}}</option>  
        </select>
     <input  class="search" type="submit" value="검색" />
<!--  <button value ="{{name1}}" name="kor">검색</button> -->

    </form>
</body>
</html>