<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 정보</title>
    <link rel="stylesheet" href="static\pay.css">
</head>

<body>
   <table class="box1">
  <thead>
  <tr>
    <th scope="cols1">1회차</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{num1}}</th>
  </tr>
  <tr>
    <td>{{num2}}</th>  
  </tr>
  <tr>
    <td>{{num3}}</th>
  </tr>
  <tr>
    <td>{{num4}}</th>
  </tr>
  <tr>
    <td><p class="day">결제일:{{num5}}</p></th>
  </tr>
  </tbody>
  </table>

  <table class="box2">
    <thead>
    <tr>
      <th scope="cols2">2회차</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{num6}}</th>
    </tr>
    <tr>
      <td>{{num7}}</th>  
    </tr>
    <tr>
      <td>{{num8}}</th>
    </tr>
    <tr>
      <td>{{num9}}</th>
    </tr>
  <tr>
    <td><p class="day">결제일:{{num10}}</p></th>
  </tr>
    </tbody>
  </table>


  <table class="box3">
    <thead>
    <tr>
      <th scope="cols3">3회차</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{num11}}</th>
    </tr>
    <tr>
      <td>{{num12}}</th>  
    </tr>
    <tr>
      <td>{{num13}}</th>
    </tr>
    <tr>
      <td>{{num14}}</th>
    </tr>
  <tr>
    <td><p class="day">결제일:{{num15}}</p></th>
  </tr>
    </tbody>
  </table>
   
</body>
</html>